*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 500px;
  max-height: 500px;
  border: 1px solid black;
  max-width: 1200px;
  width: 90%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
}

.box_1 {
  background-color: blue;
}

.box_2 {
  background-color: darkgreen;
}

.box_3 {
  background-color: darkmagenta;
}

.box_4 {
  background-color: firebrick;
}

.box_5 {
  background-color: deepskyblue;
}